body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fa7070;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  background: #fa7070;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container {
  border-radius: 37px;
  background: #fa7070;
  box-shadow: 5px 5px 7px #af4e4e, -5px -5px 7px #ff9292;
  height: 90vh;
  width: 35vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4vh;
}
.input-container {
  width: 85%;
  height: 7%;
}
input {
  width: 80%;
  height: 100%;
  border: 0;
  border-radius: 5px;
}

.add-btn {
  height: 100%;
  width: 15%;
  border: 0;
  border-radius: 5px;
  margin-left: 1vw;
  font-weight: bolder;
  cursor: pointer;
}

.item-container {
  padding-top: 15%;
}
li {
  padding-right: 15%;
}
